html{
    margin: 0px;
}
body{
    margin:0px;
    background-color: #f9f9f9;
}
header{
    display: flex;
    align-items: center;
    height: 125px;
    background-color: #f9f9f9;
}
header div{
    height: 115px;
    flex-grow: 1;
}
header div img{
    height: 100%;
}
.menu{
   display: flex;
   margin: 0px;
   list-style:none;
   align-items: center; 
}
.menu li{
    padding:  0px 10px;
}
